body {
    background-image: url("../images/grey_wall.png")
}

section {
    align-content: center;
    background: white;
    width: 11px;   
}

h1 {
    padding: 25px;
    width: 10%;
    align-content: center;
}

div {
    background: white;
    width: 960px;
}

h2 {
    color: #4aaaa5;
}

.headingTexts {
    background-color: #4aaaa5;
    color: white;
}

.headingFonts {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.allFonts {
    font-family: Arial, Helvetica, sans-serif
}

.sideMargins {
    margin-inline-end: 15%;
    margin-inline-start: 15%;
}

.divPadding {
    padding: 2px 15px;
}