<h1>Wishes!!</h1>

<h3>Everything I Could Ever Want</h3>

<ul>
  {{#each wishes}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>I wish for: {{this.wish}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="wish"></textarea>

	<button type="submit">Submit</button>
</form>
